In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
#from pyspark.sql.types import IntegerType

spark = SparkSession.builder.appName("uinionsSQL").getOrCreate()

In [0]:
df2 = spark.read.option("inferSchema",True).csv("/FileStore/tables/F1_driver_bio2.csv",header=True)

df1 = spark.read.option("inferSchema",True).csv("/FileStore/tables/F1_driver_bio-1.csv",header=True)

In [0]:
df1.show(5)
df2.show(5)

+---------------+------------+---+---------------+--------------+-------------+-------------------+
|         Driver|Abbreviation| No|           Team|       Country|Date of Birth|     Place of Birth|
+---------------+------------+---+---------------+--------------+-------------+-------------------+
| Max Verstappen|         VER|  1|Red Bull Racing|   Netherlands|   1997-09-30|   Hasselt, Belgium|
|   Sergio Perez|         PER| 11|Red Bull Racing|        Mexico|   1990-01-26|Guadalajara, Mexico|
| Lewis Hamilton|         HAM| 44|       Mercedes|United Kingdom|   1985-01-07| Stevenage, England|
|Fernando Alonso|         ALO| 14|   Aston Martin|         Spain|   1981-07-29|      Oviedo, Spain|
|Charles Leclerc|         LEC| 16|        Ferrari|        Monaco|   1997-10-16|Monte Carlo, Monaco|
+---------------+------------+---+---------------+--------------+-------------+-------------------+
only showing top 5 rows

+---------------+------------+---+---------------+--------------+-------------+-------------------+
|         Driver|Abbreviation| No|           Team|       Country|Date of Birth|     Place of Birth|
+---------------+------------+---+---------------+--------------+-------------+-------------------+
| Max Verstappen|         VER|  1|Red Bull Racing|   Netherlands|   1997-09-30|   Hasselt, Belgium|
|   Sergio Perez|         PER| 11|Red Bull Racing|        Mexico|   1990-01-26|Guadalajara, Mexico|
| Lewis Hamilton|         HAM| 44|       Mercedes|United Kingdom|   1985-01-07| Stevenage, England|
|Fernando Alonso|         ALO| 14|   Aston Martin|         Spain|   1981-07-29|      Oviedo, Spain|
|Charles Leclerc|         LEC| 16|        Ferrari|        Monaco|   1997-10-16|Monte Carlo, Monaco|
+---------------+------------+---+---------------+--------------+-------------+-------------------+
only showing top 5 rows

In [0]:
union_df = df1.union(df2)
union_df.show(30)

+----------------+------------+----+---------------+--------------+-------------+--------------------+
|          Driver|Abbreviation|  No|           Team|       Country|Date of Birth|      Place of Birth|
+----------------+------------+----+---------------+--------------+-------------+--------------------+
|  Max Verstappen|         VER|   1|Red Bull Racing|   Netherlands|   1997-09-30|    Hasselt, Belgium|
|    Sergio Perez|         PER|  11|Red Bull Racing|        Mexico|   1990-01-26| Guadalajara, Mexico|
|  Lewis Hamilton|         HAM|  44|       Mercedes|United Kingdom|   1985-01-07|  Stevenage, England|
| Fernando Alonso|         ALO|  14|   Aston Martin|         Spain|   1981-07-29|       Oviedo, Spain|
| Charles Leclerc|         LEC|  16|        Ferrari|        Monaco|   1997-10-16| Monte Carlo, Monaco|
|    Lando Norris|         NOR|   4|        McLaren|United Kingdom|   1999-11-13|    Bristol, England|
|    Carlos Sainz|         SAI|  55|        Ferrari|         Sapin|   1994-09-01|       Madrid, Spain|
|  George Russell|         RUS|  63|       Mercedes|United Kingdom|   1998-02-15|King's Lynn, England|
|   Oscar Piastri|         PIA|  81|        McLaren|     Australia|   2001-04-06| Melbourne, Victoria|
|    Lance Stroll|         STR|  18|   Aston Martin|        Canada|   1998-10-29|    Montreal, Canada|
|    Pierre Gasly|         GAS|  10|         Alpine|        France|   1996-02-07|       Rouen, France|
|    Esteban Ocon|         OCO|  31|         Alpine|        France|   1996-09-17|    Evreux, Normandy|
| Alexander Albon|         ALB|  23|       Williams|      Thailand|   1996-03-23|     London, England|
|    Yuki Tsunoda|         TSU|  22|     AlphaTauri|         Japan|   2000-05-11|   Sagamihara, Japan|
| Valtteri Bottas|         BOT|  77|     Alfa Romeo|       Finland|   1989-08-28|    Nastola, Finland|
| Nico Hulkenberg|         HUL|  27|   Haas F1 Team|       Germany|   1987-08-19|Emmerich am Rhein...|
|Daniel Ricciardo|         RIC|   3|     AlphaTauri|     Australia|   1989-07-01|    Perth, Australia|
|     Guanyu Zhou|         ZHO|  24|     Alfa Romeo|         China|   1999-05-30|     Shanghai, China|
| Kevin Magnussen|         MAG|  20|   Haas F1 Team|       Denmark|   1992-10-05|   Roskilde, Denmark|
|     Liam Lawson|         LAW|  40|     AlphaTauri|   New Zealand|   2002-02-11|Hastings, New Zea...|
|  Logan Sargeant|         SAR|   2|       Williams| United States|   2000-12-31|Fort Lauderdale, ...|
|            null|        null|null|           null|          null|         null|                null|
|  Max Verstappen|         VER|   1|Red Bull Racing|   Netherlands|   1997-09-30|    Hasselt, Belgium|
|    Sergio Perez|         PER|  11|Red Bull Racing|        Mexico|   1990-01-26| Guadalajara, Mexico|
|  Lewis Hamilton|         HAM|  44|       Mercedes|United Kingdom|   1985-01-07|  Stevenage, England|
| Fernando Alonso|         ALO|  14|   Aston Martin|         Spain|   1981-07-29|       Oviedo, Spain|
| Charles Leclerc|         LEC|  16|        Ferrari|        Monaco|   1997-10-16| Monte Carlo, Monaco|
|    Lando Norris|         NOR|   4|        McLaren|United Kingdom|   1999-11-13|    Bristol, England|
|    Carlos Sainz|         SAI|  55|        Ferrari|         Sapin|   1994-09-01|       Madrid, Spain|
|  George Russell|         RUS|  63|       Mercedes|United Kingdom|   1998-02-15|King's Lynn, England|
+----------------+------------+----+---------------+--------------+-------------+--------------------+
only showing top 30 rows

In [0]:
unionall_df = df1.unionAll(df2)
unionall_df.show(30)

+----------------+------------+----+---------------+--------------+-------------+--------------------+
|          Driver|Abbreviation|  No|           Team|       Country|Date of Birth|      Place of Birth|
+----------------+------------+----+---------------+--------------+-------------+--------------------+
|  Max Verstappen|         VER|   1|Red Bull Racing|   Netherlands|   1997-09-30|    Hasselt, Belgium|
|    Sergio Perez|         PER|  11|Red Bull Racing|        Mexico|   1990-01-26| Guadalajara, Mexico|
|  Lewis Hamilton|         HAM|  44|       Mercedes|United Kingdom|   1985-01-07|  Stevenage, England|
| Fernando Alonso|         ALO|  14|   Aston Martin|         Spain|   1981-07-29|       Oviedo, Spain|
| Charles Leclerc|         LEC|  16|        Ferrari|        Monaco|   1997-10-16| Monte Carlo, Monaco|
|    Lando Norris|         NOR|   4|        McLaren|United Kingdom|   1999-11-13|    Bristol, England|
|    Carlos Sainz|         SAI|  55|        Ferrari|         Sapin|   1994-09-01|       Madrid, Spain|
|  George Russell|         RUS|  63|       Mercedes|United Kingdom|   1998-02-15|King's Lynn, England|
|   Oscar Piastri|         PIA|  81|        McLaren|     Australia|   2001-04-06| Melbourne, Victoria|
|    Lance Stroll|         STR|  18|   Aston Martin|        Canada|   1998-10-29|    Montreal, Canada|
|    Pierre Gasly|         GAS|  10|         Alpine|        France|   1996-02-07|       Rouen, France|
|    Esteban Ocon|         OCO|  31|         Alpine|        France|   1996-09-17|    Evreux, Normandy|
| Alexander Albon|         ALB|  23|       Williams|      Thailand|   1996-03-23|     London, England|
|    Yuki Tsunoda|         TSU|  22|     AlphaTauri|         Japan|   2000-05-11|   Sagamihara, Japan|
| Valtteri Bottas|         BOT|  77|     Alfa Romeo|       Finland|   1989-08-28|    Nastola, Finland|
| Nico Hulkenberg|         HUL|  27|   Haas F1 Team|       Germany|   1987-08-19|Emmerich am Rhein...|
|Daniel Ricciardo|         RIC|   3|     AlphaTauri|     Australia|   1989-07-01|    Perth, Australia|
|     Guanyu Zhou|         ZHO|  24|     Alfa Romeo|         China|   1999-05-30|     Shanghai, China|
| Kevin Magnussen|         MAG|  20|   Haas F1 Team|       Denmark|   1992-10-05|   Roskilde, Denmark|
|     Liam Lawson|         LAW|  40|     AlphaTauri|   New Zealand|   2002-02-11|Hastings, New Zea...|
|  Logan Sargeant|         SAR|   2|       Williams| United States|   2000-12-31|Fort Lauderdale, ...|
|            null|        null|null|           null|          null|         null|                null|
|  Max Verstappen|         VER|   1|Red Bull Racing|   Netherlands|   1997-09-30|    Hasselt, Belgium|
|    Sergio Perez|         PER|  11|Red Bull Racing|        Mexico|   1990-01-26| Guadalajara, Mexico|
|  Lewis Hamilton|         HAM|  44|       Mercedes|United Kingdom|   1985-01-07|  Stevenage, England|
| Fernando Alonso|         ALO|  14|   Aston Martin|         Spain|   1981-07-29|       Oviedo, Spain|
| Charles Leclerc|         LEC|  16|        Ferrari|        Monaco|   1997-10-16| Monte Carlo, Monaco|
|    Lando Norris|         NOR|   4|        McLaren|United Kingdom|   1999-11-13|    Bristol, England|
|    Carlos Sainz|         SAI|  55|        Ferrari|         Sapin|   1994-09-01|       Madrid, Spain|
|  George Russell|         RUS|  63|       Mercedes|United Kingdom|   1998-02-15|King's Lynn, England|
+----------------+------------+----+---------------+--------------+-------------+--------------------+
only showing top 30 rows